In [ ]:
CREATE TABLE Student (
    ID INT PRIMARY KEY NOT NULL,
    Name VARCHAR(20) NOT NULL,
    Age INT NOT NULL,
    Address VARCHAR(25)
);

#Inserting 5 records into the Student table
INSERT INTO Student (ID, Name, Age, Address)
VALUES
    (1, 'John Doe', 20, '123 Main St'),
    (2, 'Jane Smith', 22, '456 Elm Ave'),
    (3, 'Michael Johnson', 21, '789 Oak Rd'),
    (4, 'Emily Brown', 19, '567 Pine Ln'),
    (5, 'David Wilson', 23, '234 Maple Dr');